@media (min-width: 481px) and (max-width: 768px) {
    .fourth-sec .pokenft-side {
        width: 31px;
        height: 75px;
        left: 1;
        top: 53px;
        /* background: aquamarine; */
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .fourth-sec .pokenft-text {
        font-size: 24px;
        width: 75px;
        height: 43px;
        /* top: 16px;
        right: -5px; */
        top: 16px;
        right: -10px;
        line-height: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .fourth-sec .pokenft-jap-txt {
        font-size: 5px;
        top: 0px;
        right: 0px;
        width: 5px;
        height: 24px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .fourth-sec .pokenft-side-rec {
        width: 3px;
        height: 16px;
        top: 1px;
        left: 0px;
    }
}